
{% extends 'AcmehelloBundle::main.html.twig' %}

{% block title %}
hola soy el alumno nuevo {{ alumno.nombre }}
{% endblock %}
  {% block contenido %}

  <div>{{ alumno.id }} - {{ alumno.nombre }}</div>

 
 {% endblock %}




